.componentImage_0, .componentImage_1, .componentImage_2,
.componentImage_3, .componentImage_4, .componentImage_5,
.componentImage_6, .componentImage_7, .componentImage_8,
.componentImage_9, .componentImage_10, .componentImage_11,
.componentImage_12, .componentImage_13, .componentImage_14,
.componentImage_15, .componentImage_16, .componentImage_17,
.componentImage_18, .componentImage_19, .componentImage_20,
.componentImage_21, .componentImage_22, .componentImage_23,
.componentImage_24, .componentImage_25, .componentImage_26,
.componentImage_27, .componentImage_28, .componentImage_29,
.componentImage_30, .componentImage_31, .componentImage_32,
.componentImage_33, .componentImage_34, .componentImage_35,
.componentImage_36, .componentImage_37, .componentImage_38,
.componentImage_39, .componentImage_40, .componentImage_41,
.componentImage_42, .componentImage_43, .componentImage_44,
.componentImage_45, .componentImage_46, .componentImage_47,
.componentImage_48, .componentImage_49, .componentImage_50,
.componentImage_51, .componentImage_52, .componentImage_53,
.componentImage_54, .componentImage_55, .componentImage_56,
.componentImage_57, .componentImage_58, .componentImage_59,
.componentImage_60, .componentImage_61, .componentImage_62,
.componentImage_63, .componentImage_64, .componentImage_65,
.componentImage_66, .componentImage_67, .componentImage_68,
.componentImage_69, .componentImage_70, .componentImage_71,
.componentImage_72, .componentImage_73, .componentImage_74,
.componentImage_75, .componentImage_76, .componentImage_77,
.componentImage_78, .componentImage_79, .componentImage_80,
.componentImage_81, .componentImage_82, .componentImage_83 
{
    background-image: url(Sprite.png);
    width: 16px;
    height: 16px;
}
.componentImage_0
{
    background-position: 0px 0px
}
.componentImage_1
{
    background-position: -17px 0px
}
.componentImage_2
{
    background-position: -34px 0px
}
.componentImage_3
{
    background-position: -51px 0px
}
.componentImage_4
{
    background-position: -68px 0px
}
.componentImage_5
{
    background-position: -153px -17px
}
.componentImage_6
{
    background-position: 0px -34px
}
.componentImage_7
{
    background-position: -119px 0px
}
.componentImage_8
{
    background-position: -136px 0px
}
.componentImage_9
{
    background-position: -153px 0px
}
.componentImage_10
{
    background-position: 0px -17px
}
.componentImage_11
{
    background-position: -17px -17px
}
.componentImage_12
{
    background-position: -34px -17px
}
.componentImage_13
{
    background-position: -51px -17px
}
.componentImage_14
{
    background-position: -68px -17px
}
.componentImage_15
{
    background-position: -85px -17px
}
.componentImage_16
{
    background-position: -102px -17px
}
.componentImage_17
{
    background-position: -119px -17px
}
.componentImage_18
{
    background-position: -136px -17px
}
.componentImage_19
{
    background-position: -85px 0px
}
.componentImage_20
{
    background-position: -102px 0px
}
.componentImage_21
{
    background-position: -17px -34px
}
.componentImage_22
{
    background-position: -34px -34px
}
.componentImage_23
{
    background-position: -51px -34px
}
.componentImage_24
{
    background-position: -68px -34px
}
.componentImage_25
{
    background-position: -85px -34px
}
.componentImage_26
{
    background-position: -102px -34px
}
.componentImage_27
{
    background-position: -119px -34px
}
.componentImage_28
{
    background-position: -136px -34px
}
.componentImage_29
{
    background-position: -153px -34px
}
.componentImage_30
{
    background-position: 0px -51px
}
.componentImage_31
{
    background-position: -17px -51px
}
.componentImage_32
{
    background-position: -34px -51px
}
.componentImage_33
{
    background-position: -51px -51px
}
.componentImage_34
{
    background-position: -68px -51px
}
.componentImage_35
{
    background-position: -85px -51px
}
.componentImage_36
{
    background-position: -102px -51px
}
.componentImage_37
{
    background-position: -119px -51px
}
.componentImage_38
{
    background-position: -136px -51px
}
.componentImage_39
{
    background-position: -153px -51px
}
.componentImage_40
{
    background-position: 0px -68px
}
.componentImage_41
{
    background-position: -17px -68px
}
.componentImage_42
{
    background-position: -34px -68px
}
.componentImage_43
{
    background-position: -51px -68px
}
.componentImage_44
{
    background-position: -68px -68px
}
.componentImage_45
{
    background-position: -85px -68px
}
.componentImage_46
{
    background-position: -102px -68px
}
.componentImage_47
{
    background-position: -119px -68px
}
.componentImage_48
{
    background-position: -136px -68px
}
.componentImage_49
{
    background-position: -153px -68px
}
.componentImage_50
{
    background-position: 0px -85px
}
.componentImage_51
{
    background-position: -17px -85px
}
.componentImage_52
{
    background-position: -34px -85px
}
.componentImage_53
{
    background-position: -51px -85px
}
.componentImage_54
{
    background-position: -68px -85px
}
.componentImage_55
{
    background-position: -85px -85px
}
.componentImage_56
{
    background-position: -102px -85px
}
.componentImage_57
{
    background-position: -119px -85px
}
.componentImage_58
{
    background-position: -136px -85px
}
.componentImage_59
{
    background-position: -153px -85px
}
.componentImage_60
{
    background-position: 0px -102px
}
.componentImage_61
{
    background-position: -17px -102px
}
.componentImage_62
{
    background-position: -34px -102px
}
.componentImage_63
{
    background-position: -51px -102px
}
.componentImage_64
{
    background-position: -68px -102px
}
.componentImage_65
{
    background-position: -85px -102px
}
.componentImage_66
{
    background-position: -102px -102px
}
.componentImage_67
{
    background-position: -119px -102px
}
.componentImage_68
{
    background-position: -136px -102px
}
.componentImage_69
{
    background-position: -153px -102px
}
.componentImage_70
{
    background-position: 0px -119px
}
.componentImage_71
{
    background-position: -17px -119px
}
.componentImage_72
{
    background-position: -34px -119px
}
.componentImage_73
{
    background-position: -51px -119px
}
.componentImage_74
{
    background-position: -68px -119px
}
.componentImage_75
{
    background-position: -85px -119px
}
.componentImage_76
{
    background-position: -102px -119px
}
.componentImage_77
{
    background-position: -119px -119px
}
.componentImage_78
{
    background-position: -136px -119px
}
.componentImage_79
{
    background-position: -153px -119px
}
.componentImage_80
{
    background-position: 0px -136px
}
.componentImage_81
{
    background-position: -17px -136px
}
.componentImage_82
{
    background-position: -34px -136px
}
.componentImage_83
{
    background-position: -51px -136px
}

.componentItem
{
	margin: 8px 0;
}
.componentItemImage
{
	border: 0 none;
	float: left;
	margin: -1px 2px 0 0;
}