<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuanLyTaiSanGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Lưu ý: nên sửa tên name=default. Đừng xóa-->
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyTaiSanDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Default2" connectionString="Data Source=172.16.0.158;Initial Catalog=QuanLyTaiSanDB;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
    <add name="Default1" connectionString="Data Source=sqlts.hoangthanhit.com;Initial Catalog=DB_9B1246_ts;Persist Security Info=True;User ID=DB_9B1246_ts_admin;Password=quanlytaisan" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <QuanLyTaiSanGUI.Properties.Settings>
      <setting name="vdthoi" serializeAs="String">
        <value />
      </setting>
    </QuanLyTaiSanGUI.Properties.Settings>
  </userSettings>
</configuration>