<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Lưu ý: nên sửa tên name=default. Đừng xóa-->
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLTS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Default7" connectionString="Data Source=dsesgu.edu.vn;Initial Catalog=QLTS;User Id=QLTS;Password=@SQLQuanLyTaiSan@;" providerName="System.Data.SqlClient"/>
    <add name="Default6" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=GUID_VDC_cache;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Default5" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=TSCD;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Default4" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=QuanLyTaiSan;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Default3" connectionString="Data Source=172.16.0.87;Initial Catalog=QuanLyTaiSan;User Id=sa;Password=123456;" providerName="System.Data.SqlClient"/>
    <add name="Default2" connectionString="Data Source=sqlts.hoangthanhit.com;Initial Catalog=DB_9B1246_ts;Persist Security Info=True;User ID=DB_9B1246_ts_admin;Password=quanlytaisan" providerName="System.Data.SqlClient"/>
    <add name="Default1" connectionString="Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9B1E8A_qltssgu;Persist Security Info=True;User ID=DB_9B1E8A_qltssgu_admin;Password=quanlytaisan" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>