<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuanLyTaiSan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--Lưu ý: nên sửa tên name=default. Đừng xóa -->
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SGU_QLTB_Client;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <QuanLyTaiSan.Properties.Settings>
      <setting name="db_server_host" serializeAs="String">
        <value>[HOST_NAME]</value>
      </setting>
      <setting name="db_server_username" serializeAs="String">
        <value>[USER_NAME]</value>
      </setting>
      <setting name="db_server_password" serializeAs="String">
        <value>[PASSWORD]</value>
      </setting>
      <setting name="db_server_port" serializeAs="String">
        <value />
      </setting>
      <setting name="db_cache_host" serializeAs="String">
        <value>[HOST_NAME]</value>
      </setting>
      <setting name="db_cache_username" serializeAs="String">
        <value />
      </setting>
      <setting name="db_cache_password" serializeAs="String">
        <value />
      </setting>
      <setting name="db_cache_port" serializeAs="String">
        <value />
      </setting>
      <setting name="use_db_cache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="db_server_dbname" serializeAs="String">
        <value>QuanLyTaiSan_server</value>
      </setting>
      <setting name="db_cache_dbname" serializeAs="String">
        <value>QuanLyTaiSan_client</value>
      </setting>
      <setting name="db_server_WA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="db_cache_WA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="login_remember" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="login_username" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="login_password" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="debug_mode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sync_auto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>Office 2007 Blue</value>
      </setting>
      <setting name="sync_time_second" serializeAs="String">
        <value>30</value>
      </setting>
    </QuanLyTaiSan.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>