<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuanLyTaiSan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--Lưu ý: nên sửa tên name=default. Đừng xóa-->
    <add name="Default3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyTaiSanDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Default1" connectionString="Data Source=172.16.0.158;Initial Catalog=QuanLyTaiSanDB;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
    <add name="Default2" connectionString="Data Source=sqlts.hoangthanhit.com;Initial Catalog=DB_9B1246_ts;Persist Security Info=True;User ID=DB_9B1246_ts_admin;Password=quanlytaisan" providerName="System.Data.SqlClient" />
    <add name="Default" connectionString="Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9B1E8A_qltssgu;Persist Security Info=True;User ID=DB_9B1E8A_qltssgu_admin;Password=quanlytaisan" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <QuanLyTaiSan.Properties.Settings>
      <setting name="db_server_host" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="db_server_username" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="db_server_password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="db_server_port" serializeAs="String">
        <value />
      </setting>
      <setting name="db_cache_host" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="db_cache_username" serializeAs="String">
        <value />
      </setting>
      <setting name="db_cache_password" serializeAs="String">
        <value />
      </setting>
      <setting name="db_cache_port" serializeAs="String">
        <value />
      </setting>
      <setting name="use_db_cache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="db_server_dbname" serializeAs="String">
        <value>QuanLyTaiSanDB</value>
      </setting>
      <setting name="db_cache_dbname" serializeAs="String">
        <value>QuanLyTaiSanDB_cache</value>
      </setting>
      <setting name="db_server_WA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="db_cache_WA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="db_name" serializeAs="String">
        <value>DB_9B1246_ts</value>
      </setting>
      <setting name="db_username" serializeAs="String">
        <value>DB_9B1246_ts_admin</value>
      </setting>
      <setting name="db_password" serializeAs="String">
        <value>quanlytaisan</value>
      </setting>
      <setting name="db_host" serializeAs="String">
        <value>sqlts.hoangthanhit.com</value>
      </setting>
    </QuanLyTaiSan.Properties.Settings>
  </userSettings>
</configuration>